$curve: cubic-bezier(0, 0.12, 0, 1);
$curve-in-out: cubic-bezier(0.41, 0.07, 0, 1);

$orange: #fff;
$dark-blue:#fff;
$light-blue:#fff;
$white:#fff;
$blue: #209EDE;
$blueDark: #1A68C0;
$bgBody: #e5e5e5;

$black: #272727;
$green: #63AB77;
$pink: #F9DEE4;
$grey: #5E606A;

$font-serif: 'clan';
$font-sans: 'clan';