<template lang="">
  <div :id="$style.comunidades">
    <h4 class="wrapper">Comunidades</h4>
    <NuxtLink v-for="item in comunidades" :key="item.id" :to="`/comunidades/${item.uid}`" :class="$style.slide" :style="`background-image:url(${item.data.imagen_fondo.url})`">
      <div class="wrapper">
        <h2>{{ $prismic.asText(item.data.titulo) }}</h2>
        <p>{{ $prismic.asText(item.data.descripcion) }}</p>
      </div>
    </NuxtLink>
  </div>
</template>
<script>
import VueTypes from 'vue-types'

export default {
  name:'comunidades-home',
  components:{
  },
  props: {    
    comunidades: VueTypes.array.def()
  },  
  mounted() {
    //console.log(this.news)
  },
  watch: {
    comunidades(v) {
      this.comunidades = v
    }
  }
}
</script>
<style lang="scss" module>
#comunidades{
  position:relative;
  h4{
    position: absolute;
    top:100px;
    left: 50%;
    transform: translateX(-50%);
    color:white;
  }
}
.slide{
  height: 60vh;
  display: block;
  background-size: cover;
  & > div{
    color:white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

</style>