<template lang="">
  <div :class="$style.contentNews">
    <div :class="[$style.topNews, `wrapper`]">
       <TitleStatics :text="`Novedades`" size="h3" />
       <Button :cta="`Ver Más`" :link="`/novedades/`" />
    </div>
    <div :class="[$style.contentCards, `wrapper`]">
      <CardsNews v-for="(item, index) in news" :key="index" :items="item" :type="`newsHome`" />
    </div>
  </div>
</template>
<script>
import VueTypes from 'vue-types'
import Button from '../Button'
import TitleStatics from '../TitleStatics'

export default {
  name:'news-home',
  components:{
    Button,
    TitleStatics
  },
  props: {    
    news: VueTypes.array.def()
  },  
  mounted() {
    //console.log(this.news)
  },
  watch: {
    news(v) {
      this.news = v
      // console.log(this.news)  
    }
  },
}
</script>
<style lang="scss" module>
  .contentNews{
    margin-top: 40px;
    background: white;
    padding: 96px 0;
    .topNews{display: flex;align-items: center;justify-content: space-between;}
    .contentCards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 50px;
      & > div:first-child{
        width: calc(66% - 15px);
        position: relative;
        a{padding-bottom: 0;}
        div{margin-bottom: 0;}
        &::after{
          content: '';
          position: absolute;
          left: 0;top:0;
          height: 100%;
          width: 100%;
          border-radius: 12px;
          background: rgba($color: $black, $alpha: .60);
        }
        div[data-card="copy"]{
          position:absolute;
          width: 100%;
          padding: 40px 60px;
          bottom:0;
          color:white;
          z-index: 1;
          small, h2{color:white;}
          span{position: static;path{fill:white}}
        }
      }
    }
  }
</style>