<template lang="">
  <div :class="[$style.button, share && $style.share, sticky && $style.sticky]">    
    <nuxt-link :to="link">
      {{cta}}
    </nuxt-link>
  </div>
</template>
<script>
import VueTypes from 'vue-types'

export default {
  props: {    
    cta: VueTypes.string.def(),
    link: VueTypes.string.def(),
    share: VueTypes.bool.def(false),
    sticky: VueTypes.bool.def(false),
  }
}
</script>
<style lang="scss" module>
.button { 
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    background: $blue;
    font-size: 12px;
    color:$white;
    border-radius: 25px;
    font-family: $font-sans;
    font-weight: 700;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
  }
  &.share{
    pointer-events: none;
  }
  &.sticky{
    a{
      background: $blueDark;
      font-weight: 400;
    }
  }
}
</style>