<template lang="">
  <div :class="[$style.card, $style[size]]">
    
    <nuxt-link v-if="size == 'home'" :to="items.link_card">
      <prismic-image :field="items.icon_card" />
      <span>{{ $prismic.asText(items.title_card) }}</span>
    </nuxt-link>

  </div>
</template>
<script>
import VueTypes from 'vue-types'

export default {
  name:'Card',
  props: {    
    items: VueTypes.object.def(),
    size: VueTypes.string.def()
  },  
  mounted() {
    this.domReady = true
  }
}
</script>
<style lang="scss" module>
.card{
  background: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.051);
  border-radius: 25px;
  margin: 15px;
  &.home{
    width: 160px;
    height: 160px;
    a{
      height:100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img{margin-bottom: 10px;filter:grayscale(100)}
      span{font-size: 12px;line-height: 1.3;font-weight: 700;}
    }
  }
}
</style>