<template>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div  v-for="(item,index) in items" :key="index" :style="item.style" class="swiper-slide">
  
        <nuxt-link :to="item.link">
          <source :srcset="item.imagen_mobile.url" media="(max-width: 768px)">
          <source :srcset="item.imagen_desktop.url">
          <prismic-image :field="item.imagen_desktop"/>
        </nuxt-link>
  
      </div>
    </div>
    <!-- If pagination is needed -->
    <div class="swiper-pagination"></div>

    <!-- If navigation buttons are needed -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</template>

<script>
import VueTypes from 'vue-types'
// import Swiper JS
// add or remove unused modules
import { Swiper, Navigation, Pagination, Autoplay } from 'swiper'
import 'swiper/swiper-bundle.min.css'
export default {
  name: 'carrusel',
  props: {    
    items: VueTypes.array.def()
  },  
  components:{
  },
  mounted() {
    // configure Swiper to use modules. The modules were tested with SwiperJS v6.8.4 with NuxtJS v2.15.7
    // previously it was before export default. Moved here for performance issues. Move back in case of problems.
    // add or remove unused modules
    Swiper.use([Navigation, Pagination, Autoplay])
    
    // init Swiper:
    /* eslint-disable no-unused-vars */
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      // @see https://swiperjs.com/swiper-api#parameters
      direction: 'horizontal',
      loop: true,
      // remove unused modules if needed
      modules: [Navigation, Pagination, Autoplay],
      // Pagination if needed
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
        clickable: true
      },
      // Autoplay if needed
      autoplay: {
        delay: 7000
      },
      // Navigation arrows if needed
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
      // Configure other options. Not tested
      ,slidesPerView: 'auto',
      centeredSlides: true,
      spaceBetween: 30
    })
  }
}
</script>

<style scoped>
.swiper {
  padding-top: 30px;
  height: auto;
  overflow: hidden;
  position: relative;
  width: auto;
  padding-bottom: 30px;
}
.swiper-slide {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width:1100px;
  border-radius: 30px;
  overflow: hidden;
}
</style>