<template>
  <div v-if="isLoading" class="loader"></div>
</template>

<script>
export default {
  data() {
    return {
      isLoading: false,
    }
  },
  methods: {
    start() {
      this.isLoading = true
    },
    finish() {
      this.isLoading = false
    },
  },
}
</script>

<style lang="scss" scoped>
.loader {
}
</style>
