<template>
  <div :class="[$style.footer]">
    <div :class="$style.map">
      <img src="../assets/images/mapa.jpg" alt="mapa">
    </div>
    <div class="wrapper">
      <div :class="$style.telefonos">
          <div v-for="n in nums" :key="n.id" :class="$style.nums">
            <div :class="$style.iso">

              <svg width="99" height="25" viewBox="0 0 99 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_211_216)">
                <path d="M80.243 9.93696C77.845 8.44472 75.3421 7.12795 72.754 5.99695C68.8341 4.28313 64.7588 2.94968 60.584 2.01496C57.5703 1.32896 54.5186 0.821764 51.445 0.495976C44.137 -0.238576 36.7696 -0.151354 29.481 0.755986C25.841 1.18865 22.2213 1.79929 18.622 2.58796C16.822 2.97262 15.022 3.41164 13.222 3.90497C12.322 4.14997 11.414 4.41199 10.5 4.69599C9.554 4.98699 8.72501 5.24495 7.60001 5.66095L15.745 24.077C16.172 23.811 16.903 23.4229 17.545 23.0909C18.2117 22.7523 18.8943 22.4189 19.593 22.0909C20.979 21.4329 22.404 20.809 23.854 20.213C26.732 19.029 29.698 17.965 32.699 17.053C38.6937 15.2042 44.8759 14.0303 51.131 13.553C55.4211 13.2323 59.7327 13.3536 63.998 13.915C65.926 14.1663 67.8389 14.5228 69.728 14.983C70.868 15.249 72.001 15.588 73.128 15.942C78.0695 17.5035 82.741 19.817 86.978 22.801L90.737 18.2579C87.5748 15.0894 84.0567 12.2972 80.253 9.93696" fill="#209EDE"/>
                </g>
                <defs>
                <clipPath id="clip0_211_216">
                <rect width="98.788" height="43.703" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              <strong>{{ n.num }}</strong>
            </div>
            <small>{{ n.name }}</small>
          </div>
      </div>
      <div :class="$style.legales">
        <small>Municipalidad de San Martín — Belgrano 3747, Buenos Aires, Argentina.</small>
        <a href="" target="_blank"></a>
      </div>
    </div>    
  </div>
</template>

<script>
import Logo from './Logo.vue'

export default {
  name: 'Footer',
  components: {
    Logo,
  },
  data() {
    return {
      nums:[
        {
          num: 147,
          name: 'Municipio'
        },
        {
          num: 911,
          name: 'Policia'
        },
        {
          num: 107,
          name: 'Emergencias'
        },
        {
          num: 100,
          name: 'Bomberos'
        },
        {
          num: 103,
          name: 'Defensa civil'
        }
      ]
    }
  }
}
</script>

<style lang="scss" module>
.footer {
  background: white;
  color:$black;
  height: auto;
  .map > img{display: block;width: 100%;}
  .telefonos{
    padding: 100px 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nums{
      width: calc((100% / 5) - 70px);
      .iso{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $blue;
        padding-bottom: 10px;
        margin-bottom: 10px;
        strong{
          font-size: 36px;
          font-weight: 900;
          letter-spacing: -.04em;
        }
      }
      small{
        color: $grey;
      }
    }
  }
  .legales{
    border-top: 1px solid $bgBody;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
</style>
