<template lang="">
  <div :class="[$style.flexCenter, `wrapper`]">
    <nuxt-link v-for="(item, index) in items" :key="index" :to="item.link_destacados" :class="$style.destacado">
      <prismic-image :field="item.image_destacados" />
    </nuxt-link>
  </div>
</template>
<script>
import VueTypes from 'vue-types'

export default {
  name:'home-highlight',
  props: {    
    items: VueTypes.array.def()
  },  
  mounted() {
    // console.log(this.items)
  }
}
</script>
<style lang="scss" module>
  .flexCenter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .destacado{
    overflow: hidden;
    border-radius: 25px;
    margin:15px;
    display: block;
    width: calc(33.33% - 30px);
    img{
      display: block;
      width: 100%;
    }
  }
</style>