<template>
  <NuxtLink
    :class="[$style.logo, isMin && $style.isMin]"
    :to="`/`"
    data-cursor-pointer
  >
    <svg width="99" height="44" viewBox="0 0 99 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_211_216)">
    <path d="M80.243 9.93696C77.845 8.44472 75.3421 7.12795 72.754 5.99695C68.8341 4.28313 64.7588 2.94968 60.584 2.01496C57.5703 1.32896 54.5186 0.821764 51.445 0.495976C44.137 -0.238576 36.7696 -0.151354 29.481 0.755986C25.841 1.18865 22.2213 1.79929 18.622 2.58796C16.822 2.97262 15.022 3.41164 13.222 3.90497C12.322 4.14997 11.414 4.41199 10.5 4.69599C9.554 4.98699 8.72501 5.24495 7.60001 5.66095L15.745 24.077C16.172 23.811 16.903 23.4229 17.545 23.0909C18.2117 22.7523 18.8943 22.4189 19.593 22.0909C20.979 21.4329 22.404 20.809 23.854 20.213C26.732 19.029 29.698 17.965 32.699 17.053C38.6937 15.2042 44.8759 14.0303 51.131 13.553C55.4211 13.2323 59.7327 13.3536 63.998 13.915C65.926 14.1663 67.8389 14.5228 69.728 14.983C70.868 15.249 72.001 15.588 73.128 15.942C78.0695 17.5035 82.741 19.817 86.978 22.801L90.737 18.2579C87.5748 15.0894 84.0567 12.2972 80.253 9.93696" fill="#209EDE"/>
    <path d="M4.491 43.704C2.93318 43.7183 1.39415 43.3632 0 42.668L0.492996 39.422C1.71563 40.0671 3.07376 40.4133 4.45601 40.432C5.71401 40.432 6.205 40.0651 6.205 39.3641C6.205 37.6361 0.0209961 38.37 0.0209961 33.616C0.0209961 31.137 1.621 29.11 5.394 29.11C6.79207 29.1023 8.18038 29.3435 9.494 29.8221L9.041 32.9881C7.92913 32.6606 6.7788 32.4817 5.62 32.4561C4.098 32.4561 3.79601 32.865 3.79601 33.408C3.79601 35.155 9.959 34.3651 9.959 39.1231C9.959 41.9431 7.89701 43.704 4.49001 43.704" fill="black" :class="$style.letter"/>
    <path d="M17.474 42.508C16.6638 43.2565 15.5936 43.6595 14.491 43.6311C12.254 43.6311 10.899 42.353 10.899 39.779C10.899 37.679 12.424 36.153 14.991 36.153C15.6457 36.1446 16.2983 36.2278 16.93 36.4001V35.982C16.93 35.143 16.443 34.6821 15.035 34.6821C13.9609 34.6611 12.8934 34.8545 11.895 35.251L11.616 32.5151C12.915 31.9898 14.3071 31.7336 15.708 31.762C19.333 31.762 20.518 33.325 20.518 36.497V43.451H17.74L17.474 42.508ZM16.931 38.694C16.5288 38.5703 16.1098 38.5097 15.689 38.5141C14.735 38.5141 14.281 38.9141 14.281 39.7441C14.2619 39.9048 14.2801 40.0677 14.3341 40.2203C14.3882 40.3728 14.4767 40.5108 14.5928 40.6236C14.7089 40.7364 14.8494 40.8209 15.0034 40.8706C15.1575 40.9202 15.3209 40.9338 15.481 40.9101C16.254 40.9101 16.927 40.4751 16.927 39.8541L16.931 38.694Z" fill="black" :class="$style.letter"/>
    <path d="M28.509 43.447V36.2611C28.509 35.2161 28.032 34.797 27.117 34.797C26.8339 34.7889 26.5525 34.8438 26.2931 34.9576C26.0337 35.0714 25.8028 35.2413 25.617 35.455V43.447H22.009V32.013L24.609 31.869L25.109 32.769C25.9798 32.0903 27.055 31.7269 28.159 31.738C30.579 31.738 32.136 33.354 32.136 36.263V43.4491L28.509 43.447Z" fill="black" :class="$style.letter"/>
    <path d="M42.706 29.351L45.506 36.551L46.03 37.9709H46.086L46.598 36.571L49.429 29.355H53.709V43.455H50.127V37.5131L50.166 35.989L50.106 35.97L49.58 37.418L47.271 43.454H44.693L42.381 37.382L41.876 35.933L41.839 35.9561L41.86 37.475V43.454H38.402V29.354L42.706 29.351Z" fill="black" :class="$style.letter"/>
    <path d="M61.707 42.508C60.9 43.2564 59.8323 43.6595 58.732 43.631C56.487 43.631 55.132 42.353 55.132 39.779C55.132 37.679 56.654 36.153 59.226 36.153C59.879 36.1445 60.53 36.2277 61.16 36.4001V35.982C61.16 35.143 60.678 34.6821 59.26 34.6821C58.1879 34.6614 57.1224 34.8548 56.126 35.251L55.845 32.5151C57.144 31.99 58.5361 31.7337 59.937 31.762C63.56 31.762 64.743 33.325 64.743 36.497V43.451H61.967L61.707 42.508ZM61.165 38.694C60.7646 38.5713 60.3478 38.5107 59.929 38.5141C58.969 38.5141 58.517 38.9141 58.517 39.7441C58.4974 39.9049 58.5154 40.068 58.5693 40.2208C58.6232 40.3735 58.7118 40.5117 58.8279 40.6246C58.9441 40.7374 59.0848 40.822 59.239 40.8715C59.3932 40.921 59.5568 40.9342 59.717 40.9101C60.488 40.9101 61.164 40.4751 61.164 39.8541L61.165 38.694Z" fill="black" :class="$style.letter"/>
    <path d="M66.399 43.4471V32.036L69.273 31.904L69.597 33.56H69.655C69.9312 33.0163 70.353 32.5602 70.8734 32.2423C71.3937 31.9245 71.9922 31.7575 72.602 31.76C73.0429 31.7478 73.4826 31.8114 73.902 31.948L73.694 35.367C73.2607 35.2384 72.8109 35.1744 72.359 35.177C72.0314 35.1631 71.7047 35.2208 71.4017 35.3461C71.0987 35.4714 70.8268 35.6614 70.6047 35.9026C70.3827 36.1439 70.216 36.4307 70.1162 36.7431C70.0164 37.0554 69.986 37.3857 70.027 37.711V43.449L66.399 43.4471Z" fill="black" :class="$style.letter"/>
    <path d="M79.154 34.553V39.831C79.154 40.571 79.514 40.881 80.34 40.881C80.641 40.8826 80.9405 40.838 81.228 40.7489L81.413 43.268C80.717 43.5323 79.975 43.6544 79.231 43.627C76.716 43.627 75.531 42.183 75.531 39.927V34.553H74.441V31.9419H75.719L76.304 29.495L79.153 29.252V31.9419H81.54V34.553H79.154Z" fill="black" :class="$style.letter"/>
    <path d="M82.825 43.448V32.062L86.525 31.89V43.448H82.825ZM88.025 28.435L85.695 31.173H83.003L83.939 28.435H88.025Z" fill="black" :class="$style.letter"/>
    <path d="M95.164 43.447V36.261C95.164 35.216 94.691 34.7969 93.774 34.7969C93.4899 34.7881 93.2074 34.8426 92.9469 34.9564C92.6865 35.0702 92.4545 35.2405 92.268 35.455V43.447H88.659V32.013L91.259 31.869L91.759 32.769C92.6278 32.0908 93.7009 31.7273 94.803 31.738C97.227 31.738 98.787 33.354 98.787 36.263V43.449L95.164 43.447Z" fill="black" :class="$style.letter"/>
    </g>
    <defs>
    <clipPath id="clip0_211_216">
    <rect width="98.788" height="43.703" fill="white"/>
    </clipPath>
    </defs>
    </svg>

  </NuxtLink>
</template>

<script>
import VueTypes from 'vue-types'
export default {
  name: 'Logo',
  props: {
    isMin: VueTypes.bool.def()
  },
  data() {
    return {
      
    }
  },
  methods: {
  },
}
</script>

<style lang="scss" module>
.logo {
  width: auto;
  height: 43px;
  color: inherit;
  display: inline-block;
  svg {
    width: auto;
    height: 100%;
  }
  &.isMin{
    .letter{
      display: none;
    }
  }
}
</style>
