<template>
  <main id="main">
    <Header />
    <Nuxt />
    <Footer />
  </main>
</template>

<script>
import Header from '../components/Header'
import Footer from '../components/Footer'
export default {
  name: 'Default',
  components: {
    Header,
    Footer
  },
  data() {
    return {
      domReady: false,
    }
  },
  mounted() {
    this.domReady = true
  },
  methods: {
  },
}
</script>

<style lang="scss" module>

</style>
