<template>
<div>
  <div :class="$style.heroTramite">
    <div class="wrapper">
      <small v-if="category">{{$prismic.asText(category.data.nombre_categoria)}}</small>
      <Title :text="tramite.nombre" :size="`h1`" />
      <RichText :text="tramite.descripcion" />
    </div>
  </div>
  <div :class="$style.bodyTramite">
    <!-- nav -->
    <div :class="$style.navTramites">
      <div class="wrapper">
        <span>trámites</span> <span>></span> <span v-if="category">{{$prismic.asText(category.data.nombre_categoria)}}</span> <span>></span> <strong>{{$prismic.asText(tramite.nombre)}}</strong>
      </div>
    </div>
    <!-- content -->
    <div :class="[`wrapper`, $style.contentCols]">
      <div :class="$style.colTramite">
        <!-- PARRAFOS -->
        <div v-for="(parrafo, index) in tramite.parrafos" :key="index" :class="[$style.parrafosTramite, $style.blocks]">
          <Title :text="parrafo.title" :size="`h3`" />
          <RichText :text="parrafo.texto" />
        </div>
        <!-- FAQS -->
        <div :class="[$style.faqsTramite, $style.blocks]">
          <TitleStatics :text="`Preguntas Frecuentes`" :size="`h3`"/> 
          <RichText :text="tramite.texto_faq" />
          <div v-for="(faqs, index) in tramite.preguntas_frecuentes" :key="index" :data-accordeon-id="index" :class="[$style.modulo_faq, `modulo_faq`]" @click="acordeon(index)">
            <div :class="$style.headFaq">
              {{$prismic.asText(faqs.pregunta)}}
              <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.01999 3.18195L7.03199 0.167951C7.13824 0.062185 7.28206 0.00280762 7.43198 0.00280762C7.58191 0.00280762 7.72573 0.062185 7.83199 0.167951C7.93788 0.275354 7.99725 0.420123 7.99725 0.570951C7.99725 0.72178 7.93788 0.866548 7.83199 0.973951L4.41899 4.38895C4.3155 4.49231 4.17613 4.55176 4.0299 4.55493C3.88367 4.5581 3.74185 4.50473 3.63399 4.40595L0.201986 0.975951C0.106191 0.86771 0.0551819 0.727068 0.0593149 0.582584C0.0634479 0.4381 0.122413 0.300605 0.224238 0.198016C0.326063 0.0954276 0.463115 0.0354363 0.607564 0.0302238C0.752013 0.0250114 0.893031 0.0749688 1.00199 0.169951L4.01999 3.18195Z" fill="#282828"/>
              </svg>
            </div>
            <div :class="[$style.bodyFaq, `bodyFaq`]">
              <p>{{$prismic.asText(faqs.respuesta)}}</p>
            </div>
          </div>
        </div>
        <!-- INFO UTIL -->
        <div :class="[$style.utilTramite, $style.blocks]">
          <TitleStatics :text="`Información útil`" :size="`h3`"/> 
          <RichText :text="tramite.texto_informacion_util" />
        </div>
      </div>
      <div :class="$style.stickyTramite">

        <Title :text="tramite.nombre" :size="`h3`" />
        <RichText :text="tramite.descripcion" />

        <Button :cta="`Iniciar Tramite`" :link="``" :sticky="true"/>
      </div>
    </div>
  </div>
  <div :class="[`wrapper`,$style.relatedTramite]">
    
  </div>
</div>
</template>

<script>
import Title from '../../components/Title'
import RichText from '../../components/RichText'
import Button from '../../components/Button'
import TitleStatics from '../../components/TitleStatics'

export default {
  name: 'SingleTramites',
  components: {
    Title,
    RichText,
    TitleStatics,
    Button
  },
  async fetch() {
    const slug = this.$route.params.slug
    console.log(slug)
    this.slug = slug
    const res = await this.$prismic.api.getByUID('tramites',slug)
    
    if (res && res.data) {      
      this.tramite = res.data
    }
    this.categories = await this.$prismic.api.query(this.$prismic.predicates.at('document.type', 'categorias_tramites'), { pageSize : 100, orderings: '[document.uid desc]' }).then( response => {
      return response.results
    });
    console.log(this.tramite)
    this.meta = {
      title: this.$prismic.asText(this.tramite.meta_title),
      description: this.$prismic.asText(this.tramite.meta_description),
      image: this.tramite.meta_image ? `${this.tramite.meta_image.url}?fit=clip&w=1200` : '',
    }
    //const options = {}

    // const resProfiles = await this.$prismic.api.query(
    //   this.$prismic.predicates.at('document.type', 'profiles'),
    //   options
    // )
    // console.log(resProfiles)
    // const profLength = resProfiles.results.length
    // const lastIndexProf = profLength - 1
    // const currentIndex = resProfiles.results.findIndex((e) => e.uid == slug)

    // this.prevProf =
    //   currentIndex == 0
    //     ? resProfiles.results[lastIndexProf]
    //     : resProfiles.results[currentIndex - 1]
    // this.nextProf =
    //   currentIndex == lastIndexProf
    //     ? resProfiles.results[0]
    //     : resProfiles.results[currentIndex + 1]
    
  },
  data() {
    return {
      meta: {},
      dataReady: false,
      tramite: [],
      categories: [],
      category:'',
      slug: '',
    }
  },
  mounted() {
    this.domReady = true
    
    //console.log(this.body)
  },
  watch: {
    categories() {
      this.showCat(this.tramite.categoria.id)
    }
  },
  methods:{
    showCat(n){
      this.category = this.categories.filter(e => e.id == n)[0]
    },
    acordeon(id){
        const itemAccordeon = document.querySelectorAll('[data-accordeon-id="' + id + '"]')[0]
        console.log(itemAccordeon)
        if (itemAccordeon.classList.contains('open')) {
          itemAccordeon.classList.remove('open')
        } else {
          itemAccordeon.classList.add('open')
        }
     
    }
  },
  head() {
    return {
      title: this.meta.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.meta.description,
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: this.meta.title,
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: this.meta.description,
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.meta.title,
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content: this.meta.description,
        },
        {
          hid: 'og:image',
          name: 'og:image',
          content: this.meta.image,
        },
      ],
    }
  },
}
</script>

<style lang="scss" module>
.heroTramite{
  max-height: 620px;
  height: 100vh;
  background: white;
  & > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    small{
      font-size: 12px;
      line-height: 1.3;
      font-weight: 700;
      display: block;
      color:$blue;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    h2{margin-bottom: 20px;}
    & > div{
      max-width: 542px;
    }
  }
}
.bodyTramite{
  background: #f8f8f8;
  position: relative;
  padding-bottom: 80px;
  .navTramites{
    position: sticky;
    top:0;
    width: 100%;
    height: 64px;
    background: #E3E3E3;
    z-index: 3;
    & > div{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-weight: 100;
      font-size: 14px;
      text-transform: uppercase;
      color:#A7A7A7;
      span{margin-right:10px}
      strong{font-weight: 400;color:$black}
    }
  }
  .contentCols{
    display: flex;
    align-items: flex-start;
    position: relative;
    .colTramite{
      max-width: 600px;
      padding-right: 60px;
      padding-top: 80px;
      .blocks{
        margin-bottom: 48px;
        & > h2{margin-bottom: 20px;}
        & > h3{margin-bottom: 20px;}
      }
    }
    .stickyTramite{
      position: sticky;
      z-index: 2;
      top: 120px;
      margin-top: 80px;
      max-width: 540px;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.051);
      border-radius: 25px;
      background: white;
      padding: 90px;
      & > div{
        margin-top: 30px;
      }
    }
  }
  .modulo_faq{
    font-size:16px;
    line-height: 1.4;
    color:$grey;
    border-bottom: 1px solid #E3E3E3;
    .headFaq{
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
      color:$black;
      font-weight: 400;
      cursor: pointer;
      svg{min-width: 16px;margin-left: 10px;}
    }
    .bodyFaq{display:none}
  }
}
</style>
<style lang="scss">
  .modulo_faq{
    &.open{
      .bodyFaq{
        padding-bottom: 20px;
        display: block;
      }
      svg{transform:scale(-1)}
    }
  }
  .prismicParagraph{
    margin-bottom: 10px;
    color:$grey;
    font-size: 16px;
    line-height: 1.4;
    a{
      color:$blue;
    }
  }
</style>
